SERVICE=ACCOUNT

DB_HOST=postgres
DB_PORT=5432
DB_USER=root
DB_PASSWORD=toor
DB_DATABASE=bank
DB_DRIVER=postgres
DB_SSLMODE=disable

SERVICE_HOST=localhost
SERVICE_PORT=20025

JWT_SECRET=rangerhitam142

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=toor
REDIS_DATABASES=16
REDIS_CHANNEL=journal